.App {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.Header {
    display: flex;
    height: 80px;
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.Header .Opcion {
    padding: 5px 10px;
    margin: 25px;
    background-color: lightslategray;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.formulario {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.formulario form {
    margin: 15px;
    border-radius: 15px;
    background-color: gray;
    padding: 15px 20px;
    flex-direction: column;
}
.formulario input,
select,
button {
    margin: 10px 5px;
}
.listado {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 20px;
    margin: 20px;
    background-color: red;
    border-radius: 20px;
    position: relative;
}
.eliminar {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
